<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Accueil</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../styles/dracronika-user.css" />
        <link rel="icon" href="../../ressources/icons/Dracronika logo.png" />
    </head>
    
    <body>

        <div id="user-profile">
            <img id="user-pic" src="" alt="Profil">
            <span id="user-name"></span>
        </div>



        <script>
            const user = JSON.parse(sessionStorage.getItem("user"));
          
            if (!user) {
                // Pas de données → retour à la page login
                window.location.href = "login.html";
            } else {
                document.getElementById("user-pic").src = user.picture;
                document.getElementById("user-name").textContent = user.given_name;
            }
        </script>

    </body>
</html>