*{
    margin: 0px;
    width: 100%;
    padding: 5px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.icon_container {
    position: fixed;
    display: inline-block;
    align-self: center;
    width: 100%;
    height: 10%;
}

.icon {
    position: sticky;
    width: 4%;
    display: block;
    float: left;
    margin: -7px 7px;
}

.login-icon {
    position: sticky;
    width: 4%;
    display: block;
    float: right;
    margin: 7px -10px;
}

h1 {
    display: block;
    width: 50%;
    padding-top: 1%;
    margin: 0 auto;
    top: 10px;
    position: sticky;
    text-align: center;
    font-family: 'Police titre Starcraft', sans-serif;
    font-size: 25px;
}

body {
    background-color: wheat;
}
.text {
    padding-top: 2px;
    padding-right: 30px;
    width: 55%;
    margin: 2em 5% 1em 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    text-indent: 1%;
}

.box {
    margin-top: -10px;
    padding: calc(1% + 26px);
    width: calc(100%);
    background-color: #50adff;
    align-items: center;
    position: fixed;
    align-items: normal;
}

p.text a {
    text-decoration: none;
    color: #000;
}
p.text a:visited {
    text-decoration: none;
    color: #000;
}

@font-face {
    font-family: 'Police titre Starcraft';
    src: url("../../ressources/fonts/Starcraft Normal.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
