*{
    margin: 0px;
    width: 100%;
    padding: 5px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.icon_container {
    position: fixed;
    display: inline-block;
    align-self: center;
    width: 100%;
}

.icon {
    position: sticky;
    width: 5%;
    display: block;
    float: left;
    margin: -7px 11px;
}

body {
    background-color: wheat;
}

#user-profile {
    position: sticky;
    width: 5%;
    display: block;
    float: right;
    margin: -7px 11px;
}

#user-pic {
    width: 40px; 
    height: 40px; 
    border-radius: 50%;
    float: right;
}

#user-name {
    font-size: 1rem;
}